@media only screen and (max-width: $mb-screen) {
    .plan-list {
        padding: 0 12px;
    }

    .plan-details {
        &-header {
            position: fixed;
            width: 420px;
        }

        &-container {
            position: relative;
            width: 420px;
            padding-top: 62px;
            flex-wrap: wrap-reverse;
        }

        &-description {
            position: static;
            // top: 0;
        }

        &-event-list {
            position: static;
            // top: 0;
            height: auto;
            margin-top: 18px;
        }
    }
}

@media only screen and (max-width: $sm-screen) {
    .plan-details {
        &-container {
            padding: 32px 12px 0;
        }
        &-event-list {
            &-title {
                font-size: 24px;
            }
            padding: 15px 14px 42px;
        }
    }
}